/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2026, 11:18:33 AM
    Author     : 2557705
*/
.root {
    -fx-background-color: #F5F7FA;
}

.label {
    -fx-font-size: 14px;
}

.text-field {
    -fx-pref-width: 180px;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #4A90E2;
    -fx-text-fill: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
